<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
    <VEF_GeneralTitle>Загальний</VEF_GeneralTitle>
    <!-- CSG -->
    <CSGTitle>Генерація власної структури:</CSGTitle>
    <CSGLog>Увімкнути журнал налагодження генерації структури: </CSGLog>

    <!-- Toggleable patches -->
    <VEF_TPTitle>Латки, які можна перемикати</VEF_TPTitle>
    <NeedRestart>Для застосування всіх налаштувань потрібен перезапуск</NeedRestart>
    <XPatchFound>Латка {0} знайдена</XPatchFound>

    <!-- Weather damages -->
    <VEF.WeatherDamages>Збитки від негоди</VEF.WeatherDamages>
    <VEF.EnableWeatherDamage>{0}</VEF.EnableWeatherDamage>
    <!-- Faction Discovery -->
    <FDTitle>Відкриття фракції</FDTitle>
    <NeedToBeInGame>Спочатку потрібно завантажити збереження</NeedToBeInGame>
    <AskForPopUp>Додати фракцію(ї)</AskForPopUp>
    <AskForPopUpExplained>Натисніть тут, щоб отримати запит для кожної фракції, якщо ви хочете додати її у свою гру</AskForPopUpExplained>
    <CanAddXFaction>фракцію(ї) {0} можна додати до поточного збереження</CanAddXFaction>

    <VEF.DisableModSourceReport>Вимкнути звіти про джерело мода</VEF.DisableModSourceReport>

    <VEF.Shields.Search>Пошук: </VEF.Shields.Search>
    <VEF.Shields.ResetModSettingsToDefault>Скидання налаштувань мода за замовчуванням</VEF.Shields.ResetModSettingsToDefault>
    <VEF.Shields.ExplanationTitle>Налаштуйте зброю так, щоб її можна було використовувати або не використовувати зі щитами.</VEF.Shields.ExplanationTitle>
    <VEF.Shields.ShowMeleeWeapons>Показати зброю ближнього бою</VEF.Shields.ShowMeleeWeapons>
    <VEF.Shields.ShowRangeWeapons>Показати зброю дальнього бою</VEF.Shields.ShowRangeWeapons>
	
	<VEF_DisableTextureCaching>Відключити кешування текстур</VEF_DisableTextureCaching>
	<VEF_EnablePipeSystemNoStorageAlert>Увімкнути попередження PipeSystem про відсутність сховища</VEF_EnablePipeSystemNoStorageAlert>
	<VEF_FactionDiscovery>Відкриття фракції</VEF_FactionDiscovery>
	<VEF_CustomStructureGeneration>Генерація власної структури:</VEF_CustomStructureGeneration>
	<VEF_TextureVariations>Варіанти текстур:</VEF_TextureVariations>
	<VEF_VerboseLogging>Ведення докладного журналу</VEF_VerboseLogging>
	<VEF_UnforbidMinedOres>Незаборонені до видобутку руди</VEF_UnforbidMinedOres>
	<VEF_Never>Ніколи</VEF_Never>
	<VEF_HomeArea>Домашня область</VEF_HomeArea>
	<VEF_Always>Завжди</VEF_Always>
	<VEF_NeverDesc>Ніколи не забороняйте видобувати руду (так працює базова гра для нелюдських пішаків, таких як тварини та мехи)</VEF_NeverDesc>
	<VEF_HomeAreaDesc>Руди, видобуті пішаками, не заборонені, тільки якщо вони видобуті в домашній області</VEF_HomeAreaDesc>
	<VEF_AlwaysDesc>Руди, видобуті пішаками, завжди не заборонені</VEF_AlwaysDesc>
</LanguageData>
